<h1>Hello <%= mailContent.name %>!</h1>
<p>you're request got redirected to me. It can take a day or two until i reach out to you.
    <br>thank you for you're patience.
    <br>Cheers ,<br>Luca Wolckenhauer
</p>
